<h1>FLIPKART</h1>

<button (click)="add20()">Add Rs.20 delivery charges</button>
<button (click)="discount()">50% Discount</button><br><br>

<select [(ngModel)]="category" (change)="categoryChange()">
    <option>gadgets</option>
    <option>fashion</option>
    <option>footware</option>
    <option>accessories</option>
</select>

<input type="text" placeholder="search" [(ngModel)]="term"(keyup)="search()">
<br><br>

<button (click)="pricelh()">Price low to high</button>
<button (click)="pricehl()">Price high to low</button><br><br> 

<button (click)="totalprice()">Total Cart Price</button>
 
<p>Total Cart Items: <mark>{{products.length}}</mark> </p> 



<table border="6">
    <thead>

        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>


    </thead>

    <tbody>

        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.category}}</td>
            <td>{{product.price}}</td>
            <td>{{product.rating}}</td>
        </tr>


    </tbody>
</table>