<div class="parent">
    <div class="left">
             
            <h1>My Website</h1>
            <h2 routerLink="home">Home</h2>
            <h2 routerLink="welcome">Welcome</h2>
            <h2 routerLink="databinding">Data Binding</h2>
            <h2 routerLink="calculator">Calculator</h2>
            <h2 routerLink="rectangle">Rectangle</h2>
            <h2 routerLink="circle">Circle</h2>
            <h2 routerLink="bmi">BMI</h2>
            <h2 routerLink="dice">Dice</h2>
            <h2 routerLink="directives">Directives</h2>
            <h2 routerLink="pipes">Pipes</h2>
            <h2 routerLink="tasks">Tasks</h2>
            <h2 routerLink="pre-flipkart">Pre-Flipkart</h2>
            <h2 routerLink="higher-order">Higher Order</h2>
            <h2 routerLink="amazon">Amazon</h2>
            <h2 routerLink="flipkarttask4">Flipkart Task4</h2>
            <h2 routerLink="vehicle">Vehicle</h2>
            <h2 routerLink="banktask">Banktask</h2>
            <h2 routerLink="flipkartAPI">Flipkart API</h2>
            <h2 routerLink="mail">Mail</h2>
            <h2 routerLink="create-vehicle">Create-vehicle</h2>
            <h2 routerLink="create-banktask">Create_BankTask</h2>
            <h2 routerLink="students">Students</h2>
            <h2 routerLink="create-user">Create-user</h2>
            <h2 routerLink="student-progress">Student-Progress</h2>
            
            

        <button (click)='logout()'>Signout</button>

    </div>
    <div class="right">
        <router-outlet></router-outlet>
        
    </div>

</div>