.parent{
    height:100%;
    width:100%;
    display: flex;
    justify-content:center;
    align-items:center;

}
.child{
    height: 50%;
    width: 30%;
    background-color: greenyellow;
    border-radius: 4px;
    text-align: center;
    font-size: larger;
    
}
button{
    width: 55%;
    height: 8%;
    background-color: royalblue;
    border-radius: 4px;
    color: white;
    margin-top: 3%;
    

}