<h1>PreFlipkart</h1>

<label for="">Name:</label>
<input type="text" [(ngModel)]="productName"><br>
<label for="">Price:</label>
<input type="number" [(ngModel)]="price"><br>
<label for="">Rating:</label>
<input type="number" [(ngModel)]="rating"><br>
<label for="">Delivery Date:</label>
<input type="date" [(ngModel)]="deliveryDate"><br>
<label for="">Free Delivery:</label>
<input type="radio" name=fd value="True" [(ngModel)]="freeDelivery">
<label for="">Yes</label>
<input type="radio" name=fd value="False" [(ngModel)]="freeDelivery">
<label for="">No</label><br>
<button (click)="submit()">Submit</button>

<h1>List Of Products</h1>

<table border="3">
    <thead>
        <tr>
            <th>S.No</th>
             <th>Name</th>
            <th>Price</th>
            <th>Rating</th>
            <th>Delivery Date</th>
            <th>Free Delivery</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i=index">
            <td>{{i+1}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.rating}}</td>
            <td>{{product.deliverydate | date:'yyyy/MM/dd'}}</td>
            <td>{{product.freedelivery}}</td>

            <button (click)="delete(i)">Delete</button>

        </tr>
    </tbody>

</table>




